.pagination {
    min-width: 365px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .pagination-links {
        padding: 0 10px;
        background: rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        $link-not-selected-color: #767373;

        a {
            margin: 0 .75rem;
            color: $link-not-selected-color;
        }

        .selected {
            color: black;
        }

        i {
            font-size: 1.5rem;
        }
    }
}