/**
 * The standard section wrapper. Use this with other classes for the base styling.
 * Default paddings are 40 and 80px
 */
.section-fullwidth {
	$border-color: #ddd;
	$section-padding: 80px;

	padding: #{$section-padding} 0;
	position: relative;

	@media (min-width: $breakpoint-small) {
		padding: #{$section-padding} 0;
	}
}
