/**
 * The standard section wrapper. Use this with other classes for the base styling.
 * Default paddings are 40 and 80px
 */
.section-fullwidth {
	$border-color: #ddd;
	$section-padding: 80px;

	padding: calc(#{$section-padding} + #{$layout-header-height}) 0 #{$section-padding};
	position: relative;

	.row {
		.column {
			padding: 0 20px;
		}
	}

	@media (min-width: $breakpoint-small) {
		padding: calc(#{$section-padding} + #{$layout-header-height}) 0 #{$section-padding};
	}
}
