// Here is your main header stylings. You can modify all other, but in general
// try to keep the header stylings in here.
//
// Menu stylings file be found in components/mobile-menu

.site-header {
	position: fixed;
	width: 100%;
	z-index: 1;
	height: $layout-header-height;
	background-color: $color-primary-dark;

	.row {
		height: 100%;

		display: flex;
		align-items: center;

		.site-header-inner {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.site-branding {
				.site-title {
					font-weight: bold;
					font-size: 2em;
					margin: 0;

					a {
						color: white;
						display: inline-block;
						unicode-bidi: bidi-override;

						&::after {
							content: ".";
							color: $color-primary;
						}
					}
				}

				.site-description {
					display: none;
				}
			}

			.main-navigation {
				.menu-toggle {
					display: none;
					flex-direction: column;
					padding: 13px 20px 15px;
					cursor: pointer;

					span {
						display: inline-block;
						width: 20px;
						height: 2px;
						background-color: white;
						margin: 2.5px 0;
						border-radius: 5px;
						transition: transform 0.3s, opacity 0.3s;
						pointer-events: none;
					}

					&.opened {
						span:first-child {
							transform: translateY(7px) rotate(45deg);
						}

						span:nth-child(2) {
							opacity: 0;
						}

						span:last-child {
							transform: translateY(-7px) rotate(-45deg);
						}
					}
				}

				.menu-container {
					transition: 0.2s;

					&.opened {
						visibility: visible;
						top: 60px;
						opacity: 1;
						pointer-events: auto;
					}

					div[class$="-menu-container"] {
						.menu {
							display: flex;
							flex-direction: row;
							align-items: center;

							.separator {
								height: 55px;
								background-color: darken($color-white, 50);
								flex: 0 0 1px;
								margin: 0px 10px 0;
								display: inline-block;
							}

							.menu-item {
								margin: 0 10px;
								position: relative;

								&.register {
									padding: 0;

									a {
										padding: 10px 45px;

										&:hover {
											border-bottom: 1px solid transparent;
										}
									}
								}

								&.profile {
									min-width: max-content;
									user-select: none;
									cursor: pointer;
								}

								.sub-menu {
									display: flex;
									flex-direction: column;
									position: absolute;
									background-color: $color-white;
									right: 0;
									visibility: hidden;
									opacity: 0;
									transition: 0.2s;

									li {
										margin: 0;
										border-top: 0.5px solid rgba(0, 0, 0, 0.5);
										border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);

										&:first-child {
											border-top: none;
										}

										&:last-child {
											border-bottom: none;
										}

										a {
											color: black;
											font-weight: normal;
											text-shadow: 0 0 0.5px black;
											transition: 0.2s;

											&:hover {
												text-shadow: 0 0 1px black, 0 0 1px black; //bolder
											}

											&:before {
												font-family: "Font Awesome 5 Pro";
												font-size: 25px;
												margin: 0 10px 0 0;
												vertical-align: sub;
											}
										}

										&.profile-edit {
											a:before {
												content: "\f4ff";
											}
										}

										&.profile-publish {
											a:before {
												content: "\f055";
											}
										}

										&.profile-logout {
											a:before {
												content: "\f2f5";
											}
										}
									}
								}

								&.is-extended {
									.sub-menu {
										visibility: visible;
										opacity: 1;
									}

									.dropdown-arrow {
										i {
											transform: rotate(-90deg);
										}
									}
								}

								a {
									display: inline-block;
									transition: 0.2s;
									border: 1px solid transparent;
									padding: 12px 20px;
									color: white;
									width: max-content;
									font-weight: bold;

									&:hover {
										border-bottom: 1px solid white;
									}
								}

								.dropdown-arrow {
									color: white;
									display: inline-block;

									i {
										transition: 0.2s;
										transform: rotate(90deg);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.site-branding {
	display: inline-block;
}

@media only screen and (max-width: $breakpoint-medium) {
	.site-header {
		.row {
			.site-header-inner {
				.site-branding {
					padding-left: 20px;
				}

				.main-navigation {
					.menu-toggle {
						display: flex;
					}

					.menu-container {
						position: absolute;
						z-index: 1;
						visibility: hidden;
						top: 0px;
						opacity: 0;
						pointer-events: none;
						background-color: $color-primary-dark;
						left: 0;
						right: 0;

						div[class$="-menu-container"] {
							.menu {
								flex-direction: column;
								padding: 0 20px;

								.separator {
									background-color: darken($color-white, 50);
									height: 1px;
									display: inline-block;
									width: 100%;
									margin: 10px 0;
								}

								.menu-item {
									width: 100%;
									text-align: center;
									padding: 8px;

									&:last-child {
										margin: 8px 0 28px;
										padding: 0;
									}

									a {
										width: 100%;
										border: 0;
									}

									&.profile {
										& > a {
											&:hover {
												border-bottom: 1px solid transparent;
											}

											&:after {
												font-family: "Font Awesome 5 Pro";
												content: "\f078";
												margin-left: 20px;
												vertical-align: text-top;
											}
										}
									}

									.sub-menu {
										left: 0;
										right: 0;
									}

									.dropdown-arrow {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
