.section-advanced-search {
	background-color: white;
}

.advanced-search {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color-primary-dark;
	flex-direction: column;

	.vehicle-type {
		display: flex;
		justify-content: center;
		.type {
			margin: 35px 20px;
			color: rgba(255, 255, 255, 0.15);
			font-size: 35px;
			display: flex;
			justify-content: center;
			i {
				pointer-events: none;
			}
		}
	}

	h2 {
		color: #ffffff;
		font-size: 32px;
	}

	.specifications {
		.elements {
			display: grid;
			justify-content: center;
			grid-template-columns: repeat(4, minmax(257px, 1fr));
			grid-template-rows: repeat(4, minmax(56px, 1fr));
			column-gap: 30px;
			row-gap: 15px;
		}

		h2 {
			text-align: center;
			margin-bottom: 100px;
			color: black;
		}

		select,
		.input {
			color: #ffffff;
			background: #232323;
			border-bottom: none;
			border-top: none;
			border-left: none;
			border-right: none;
			text-indent: 10px;
		}

		.price-first::first-letter {
			color: $color-primary;
		}

		.price-second::first-letter {
			color: $color-primary;
		}

		.wrapper {
			display: flex;
			flex-direction: row;
			column-gap: 2px;
		}

		.separator {
			flex: 0 12px 4px;
			display: inline-block;
			text-align: center;
			font-size: 27px;
			background: #232323;
			color: #656565;
			padding: 10px 5px;
		}

		.price-first {
			font-size: 20px;
			color: #ffffff;
			background: #232323;
			float: left;
			width: 130px;
			height: 65px;
			border-bottom: none;
			border-top: none;
			border-left: none;
			border-right: none;
			text-align: center;
		}

		.price-second {
			font-size: 20px;
			color: #ffffff;
			background: #232323;
			float: right;
			width: 130px;
			height: 65px;
			border-bottom: none;
			border-top: none;
			border-left: none;
			border-right: none;
			text-align: center;
		}

		::-webkit-input-placeholder {
			/* Edge */
			color: #ffffff;
		}

		:-ms-input-placeholder {
			/* Internet Explorer */
			color: #ffffff;
		}

		::placeholder {
			color: #ffffff;
		}
	}

	.searchButton {
		display: inline-block;
		font-family: Quantico;
		font-weight: bolder;
		text-align: center;
		font-size: 17px;
		margin-bottom: 40px;
		float: right;
		width: 70%;
	}
}

@media (max-width: 1120px) {
	.simple-search {
		.elements {
			display: inline-grid;
			justify-content: center;
		}

		.price-first,
		.price-second {
			display: inline-grid;
			justify-content: center;
		}
	}
}
