/**
 * Clean basic header styling with logo on the left and menu on the right
 * with white background and subtle shadow.
 */

$menu-link-padding: rem-calc(12px 10px);
$menu-link-color: #1a1a1a;
$menu-link-background: #fff;
$menu-link-color-hover: #1a1a1a;
$menu-link-background-hover: #f0f0f0;
$menu-link-border-radius: rem-calc(3px);
$submenu-padding: 0;
$submenu-menu-padding: rem-calc(15px) rem-calc(20px);
$submenu-width: 250px;
$submenu-font-size: 14px;

.site-header {
	padding: 30px 0;
	box-shadow: 0 5px 10px -5px rgba(black, 0.1);

	// This will be the flexbox wrapper
	&-inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
}

.site-description {
	display: none;
}

.site-title,
.site-branding {
	margin: 0;
}

.main-navigation {
	flex: 1 1 auto;

	.menu-item {
		a {
			padding: $menu-link-padding;
			color: $menu-link-color;
			background-color: $menu-link-background;
			border-radius: $menu-link-border-radius;
		}

		a:hover {
			color: $menu-link-color-hover;
			background-color: $menu-link-background-hover;
		}
	}
}


// Dropdown menu settings.
// You can have these in a separate file or tweak the standard menu settings.
// 
// $menu-breakpoint - comes from the components/_mobile-menu.scss base stylings
// ----------------------------------------------------------------------------
@media (min-width: $menu-breakpoint) {
	.menu-item:nth-last-child(-n+3) .sub-menu .sub-menu {
		right: calc(100%);
		top: -($submenu-padding / 2);
	}

	.sub-menu {
		box-shadow: 0 7px 13px -9px rgba(black, 0.1);
		padding: $submenu-padding 0;
		font-size: $submenu-font-size;
		min-width: $submenu-width;

		.menu-item {
			margin: 0;
			padding: 0;
			border: none;

			&:last-of-type {
				margin-bottom: 0;
			}

			a {
				padding: $submenu-menu-padding;
				display: block;
			}

			a:hover {
				background: #fafafa;
			}
		}
	}
}
