/**
 *
 */
.section-hero {
	position: relative;
	padding: 0;

	&:after {
		content: ''; display: block;
		height: 100%; width: 100%;
		background: linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.5));
		z-index: 1;
		position: absolute; top: 0; left: 0;
	}

	.section-content {
		position: absolute;
		z-index: 2;
		left: 50%;
		bottom: 80px;
		transform: translateX(-50%);
		color: white;
		text-align: center;
		max-width: 600px;
		width: 100%;
	}
}
